[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = 5.9.0
[submodule "tinyusb"]
	path = tinyusb
	url = https://github.com/hathach/tinyusb_src.git
	branch = 0.14.0
[submodule "SipHash"]
	path = SipHash
	url = https://github.com/veorq/SipHash.git
